* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

/* Navbar Left Alignment untuk semua halaman */
nav ul {
    justify-content: flex-start !important;
    text-align: left !important;
}

nav ul li {
    text-align: left !important;
}

@media (max-width: 768px) {
    nav ul li {
        text-align: left !important;
    }
    
    nav ul.active li {
        text-align: left !important;
    }
}